body {
    font-family: "Poppins", sans-serif;
    
}

.container-drone {
    border: 2px solid #dc143c;
    width: 50%;
    min-width: 300px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;;
} 

.container-blue {background-color: royalblue;}
.container-red{background-color: #dc143c;}
.container-green{background-color: #008000;}


.container-drone img {
    width: 100%;
    border-radius: 8px 80px 8px 80px;

}


ul, ol {
    list-style: none;
    
}

h1  {
    color: #172e8b;
    font-size: 45px;
    font-family: "Boldonse", system-ui;
}

h2, h3, h4, h5, h6 {
    font-family: "Boldonse", system-ui;    
}

img {
    width: 300px;
    border-radius: 8px 80px 8px 80px;
}

a {
    color: #dc143c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    transition: all .7s;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}
